/* ---------------------OVERALL PAGE STYLE-------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ---------------------BODY STYLE START---------------------- */
body {
  background-color: #d9dcd6;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
/* BODY STYLE END */

/* ---------------------HEADER STYLE START-------------------- */
header {
  padding: 35px;
  background-color: rgb(41, 58, 90);
  color: rgb(42, 70, 121);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

header h1 {
  font-size: 48px;
  background-color: rgb(124, 206, 199);
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  margin: 10px;
  font-weight: lighter;
  font-size: 2.5vw;
  border-bottom: solid 3px rgb(50, 209, 188);
}

a {
  color: #ffffff;
  text-decoration: none;
}
/* HEADER STYLE END*/

/* --------------------HERO IMAGE STYLE START------------------ */
.hero {
  height: 200px;
  width: 100%;
  margin-bottom: 25px;

  background-size: cover;
  background-position: center;
  background-image: url("../02-Challenge/Assets/image/1.hero-image.jpg");
}

section h2 {
  padding: 25px;
  margin: 80px 25px 25px 25px;
  float: right;
  font-size: 35px;
  background-color: rgb(188, 209, 228);
}
/* HERO IMAGE STYLE END */

/* ----------------------CONTENT STYLE START-------------------*/
.content {
  margin: 10px 10px 10px 10px;
  padding: 50px;
  width: 100%;
  background-color: aliceblue;
  /* flex content */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content h3 {
  color: rgb(74, 138, 190);
  font-size: 46px;
  /* flex: 1 30%; */
  border-right: solid 5px blue;
  width: 20%;
  padding: 100px 10px 100px 10px;
}

/* FIRST CONTENT: ABOUT ME */
.AboutMe {
  /* flex: 2 70%; */
  width: 70%;
  /* flex content */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.AboutMe img {
  width: 20%;
  padding: 5px 5px 5px 5px;
  margin: 10px 10px 10px 10px;
  border: solid 5px cornflowerblue;
}

/* SECOND CONTENT:WORK */
#ContentWork {
  margin: 10px 10px 10px 10px;
  padding: 50px 50px 200px 50px;
  width: 100%;
  background-color: aliceblue;
  /* flex content */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Works {
  width: 70%;
  /* flex content */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.Work {
  padding: 50px 50px 50px 50px;
  margin: 10px;
  border: solid 5px rgb(0, 162, 255);
  background-size: cover;
  background-position: center;
}

.Work p3 {
  color: aliceblue;
  font-weight: large;
  font-size: 25px;
}

#Work1 {
  flex: 1 70%;
  background-image: url("../02-Challenge/Assets/image/work1.jpg");
}

#Work2 {
  flex: 2 30%;
  background-image: url("../02-Challenge/Assets/image/work2.jpg");
}

#Work3 {
  flex: 2 30%;
  background-image: url("../02-Challenge/Assets/image/work3.jpg");
}

#Work4 {
  flex: 1;
  background-image: url("../02-Challenge/Assets/image/work4.PNG");
}

#Work5 {
  flex: 1;
  background-image: url("../02-Challenge/Assets/image/work5.PNG");
}
/* THIRD CONTENT: CONTACT ME */
.ContactMe {
  width: 70%;
  /* flex content */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.content p2 {
  padding-bottom: 10px;
  background-color: rgb(212, 227, 255);
  border-bottom: solid 3px blue;
}

/* ----------------------FOOTER STYLE START-------------------*/
footer {
  text-align: center;
  color: rgb(53, 92, 79);
  padding: 5px;
}

/* ----------------------FLEXIBILITY TO SCREEN-------------------*/

/* Fit in ipad screen 768px */
@media screen and (max-width: 768px) {
  header {
    padding-bottom: 15;
    justify-content: center;
    position: relative;
  }

  header h1 {
    font-size: 20px;
    text-align: center;
  }

  header nav ul {
    margin-top: 15px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 20px;
  }

  .content h3 {
    color: rgb(103, 197, 158);
    font-size: 30px;
    border-right: solid 5px rgb(255, 230, 0);
    width: 20%;
    padding: 100px 10px 100px 10px;
  }
}

/* Fit in ipad screen 575px */
@media screen and (max-width: 575px) {
  header h1 {
    font-size: 25px;
    text-align: center;
  }

  header nav ul li a {
    font-size: 5px;
    padding-bottom: 5px;
  }
  .content {
    padding: 5px;
  }

  #ContentWork {
    padding: 5px;
  }

  .content h3 {
    color: rgb(197, 103, 147);
    font-size: 15px;
    border-right: solid 5px rgb(255, 230, 0);
    width: 25%;
    padding: 100px 10px 100px 10px;
  }
}
